@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

header, footer {
  background-color: #fffea6;
  padding: 1em 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 5px 2.5px #d3d168be;
          box-shadow: 0px 0px 5px 2.5px #d3d168be;
}

header {
  height: 3em;
  z-index: 75;
}

main {
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
  font-style: italic;
}

a:hover {
  text-decoration: underline;
}

.clickable {
  cursor: pointer;
}

.button {
  padding: 0.5em 0.25em;
  border: 1px solid black;
  border-radius: 0.25em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: black;
  text-align: center;
  font-size: 1.25rem;
  background-color: #fffea6;
  -webkit-transition: background-color 0.15s;
  transition: background-color 0.15s;
}

.button:hover {
  background-color: #fffea6;
  text-decoration: none;
  cursor: pointer;
}

.logo-container a {
  font-style: normal;
  text-decoration: none;
}

.header-links {
  visibility: hidden;
  position: absolute;
}

.sidebar {
  position: fixed;
  right: -110vw;
  top: 0;
  -webkit-transition: right 0.5s;
  transition: right 0.5s;
  background: #fffea6;
  border-left: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 35vw;
  padding: 1em 1em 10em 1em;
}

.sidebar.active {
  right: -5vw;
}

.home-container {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background-color: #000;
}

.home-container .button {
  position: absolute;
  bottom: 5vh;
  right: 45vw;
  z-index: 50;
}

#canvas {
  position: absolute;
  bottom: -300px;
  left: 0;
}

.works {
  padding: 2.5em 3em;
  background-color: #fffea6;
}

footer .social-media a:hover {
  text-decoration: none;
}

.builder-main {
  padding: 1.5em 2em;
}

.builder-container {
  position: relative;
  width: 95vw;
  height: 50vh;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 1em;
}

.builder-container canvas {
  position: absolute;
  bottom: -3.5em;
}

.buttons-container {
  margin-left: 5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10em, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  -webkit-column-gap: 1em;
          column-gap: 1em;
  row-gap: 1em;
}

.restart-container, .order-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.restart-container button, .order-container button {
  width: 50vw;
  margin-top: 1em;
}

@media (min-width: 900px) {
  .sidebar-container {
    visibility: hidden;
    position: absolute;
  }
  .header-links {
    visibility: visible;
    position: relative;
  }
}

@media (max-width: 900px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer div {
    margin-bottom: 1em;
  }
  footer .links-footer {
    text-align: center;
  }
}

.modal {
  z-index: 90;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  -webkit-transition: -webkit-backdrop-filter 0.3s;
  transition: -webkit-backdrop-filter 0.3s;
  transition: backdrop-filter 0.3s;
  transition: backdrop-filter 0.3s, -webkit-backdrop-filter 0.3s;
}

.modal.active {
  visibility: visible;
}

.modal-container {
  z-index: 100;
  border: 0.01em solid black;
  border-radius: 10px;
  background-color: #fffea6;
  -webkit-box-shadow: inset 0px 0px 5px 2.5px #c0bf6bbe;
          box-shadow: inset 0px 0px 5px 2.5px #c0bf6bbe;
  padding: 1em;
  height: 15em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
/*# sourceMappingURL=style.css.map */